:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input,
textarea,
button {
  font: inherit;
}

button {
  cursor: pointer;
  color: currentColor;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  /* Typography */
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--white);
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.section {
  padding: 120px 0;
}
/* HEADER STYLE */
.page-header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  align-items: center;
  display: flex;
}

.logo-header {
  /* Positioning */
  margin-right: 76px;
  /* Box model */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  /* Typography */
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
}

.accent-header {
  color: var(--iris);
}

.nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  color: var(--navy-blue);
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}

.active-link {
  color: var(--ocean);
}

.active-link:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: var(--ocean);
  border-radius: 2px;
  position: absolute;
  color: var(--ocean);
  left: 0;
  bottom: -1px;
}

.header-contacts {
  font-style: normal;
}

.list-contacts {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.contacts-link {
  display: block;
  text-decoration: none;
  color: var(--slate);
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

/* 
MAIN SECTION
SECTION HERO 
*/
.section-hero {
  padding: 188px 0;
  /* Visual */
  background-color: var(--navy-blue);
  max-width: 1440px;
  margin: 0 auto;
}

.hero-bg-image {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero .container {
  /* Box model */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  /* Box model */
  max-width: 496px;
  /* Typography */
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.order-button {
  /* Positioning */
  padding: 16px 32px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  /* Box model */
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  min-width: 169px;
  height: 56px;
  /* Typography */
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--white);
  /* Visual */
  border-radius: 4px;
  border: none;
  background: var(--iris);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: var(--ocean);
}
/* 
SECTION FEATURES 
*/

.features-list {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.features-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  flex-basis: calc((100% - 72px) / 4);
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  background-color: var(--cloud);
}

.features-title {
  /* Typography */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--navy-blue);
}
/*
SECTION TEAM
*/
.section-team {
  background: var(--cloud);
}

.section-team .container {
  /* Box model */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-title {
  margin-bottom: 72px;
  /* Typography */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}

.team-item {
  /* Box model */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: calc((100% - 72px) / 4);

  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item-container {
  padding: 32px 16px;
}

.team-specialist {
  margin-bottom: 8px;
  /* Typography */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--navy-blue);
}

.team-job-title {
  text-align: center;
}

.social-menu-box {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-icon-item {
  width: 40px;
  height: 40px;
}

.social-link-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-item:hover,
.social-link-item:focus {
  background-color: var(--ocean);
}

.social-icon {
  fill: var(--cloud);
}
/* 
PORTFOLIO SECTION 
*/

.portfolio .container {
  /* Box model */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio-title {
  margin-bottom: 72px;
  /* Typography */
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.hidden-box {
  position: relative;
  overflow: hidden;
}

.hidden-text {
  position: absolute;
  top: 0;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .hidden-text {
  transform: translateY(0);
}

.portfolio-item-container {
  width: 360px;
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-item-title {
  margin-bottom: 8px;
  /* Typography */
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}
/* 
PAGE FOOTER 
*/

.page-footer {
  padding: 100px 0;

  background-color: var(--navy-blue);
}

.page-footer .container {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  /* Typography */
  font-weight: 700;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}

.footer-accent {
  color: var(--iris);
}

.footer-text {
  max-width: 264px;
  color: var(--cloud);
}

.logo-box {
  margin-right: 120px;
}

.social-box {
}
.social-box-text {
  font-weight: 500;
  color: var(--white);
  margin-bottom: 16px;
}
.social-list-footer {
  display: flex;
  gap: 16px;
}
.social-item-footer {
  width: 40px;
  height: 40px;
}
.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--green);
}

.social-icon-footer {
  fill: var(--cloud);
}

.subscribe-wrapper {
  margin-left: 80px;
}

.subscribe-text {
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  min-width: 264px;
  min-height: 40px;
  flex-shrink: 0;
  padding-left: 16px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  outline: none;
}

.subscribe-input::placeholder {
  color: #fff;
}

.subscribe-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  min-width: 165px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

/* Modal Window */
